.logo {
    width: 20vw;
    justify-content: center;
}

#logOut {
    color: darkred;
}

body {
    background-image: url('../assets/img/Vermillion_gates.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0% 10% !important;
    a {
        color: darkred;
        text-decoration: none !important;
        &:hover {
            color: crimson;
        }
    }
    button {
        border-radius: 4px;
        border: solid 1px crimson;
        color: darkred;
        background-color: salmon;
    }
    header {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2% 3%;
        border: ridge rgb(50, 50, 50) 5px;
        border-radius: 0px 0px 15px 15px;
        align-content: center;
        a {
            color: darkslateblue;
            text-decoration: none !important;
            &:hover {
                color: slateblue;
            }
        }
        div {
            display: flex !important;
            align-items: center;
            &:last-child {
                justify-content: flex-start;
                flex-direction: row;
                h5 {
                    &:first-child {
                        color: darkred;
                        border-radius: 15px;
                        //border: outset 3px rgb(233, 5, 40);
                    }
                }
            }
            h5 {
                background-color: rgba(0, 0, 0, 0.7);
                padding: 1%;
                border-radius: 15px;
                border: outset 3px rgb(75, 50, 233);
            }
        }
    }
    main {
        padding: 2% 5%;
        color: silver;
        background-color: rgba(0, 0, 0, 0.9) !important;
        border: solid palevioletred 4px;
        border-radius: 10px 10px 10px 10px;
        overflow: auto;
        img {
            width: 150px !important;
            height: 150px !important;
        }
        div {
            margin-top: 2%;
            border-radius: 15px;
            border: solid silver 2px;
            overflow: hidden;
            width: fit-content;
        }
        h3 {
            color: palevioletred;
        }
    }
}